.cardparent {
  border-radius: 3px;
  background: rgba(0,0,0,.85);

  a {
    text-decoration: none;
  }
}
.tagline {
  display: block;
  padding-bottom: .25em;
  color: #00FC87;
  font-size: 1.3em;
}
.cardtest {
  padding: 15px;
  color: $lightGrey;

  h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: $lato;
    font-size: 2.2em;
  }
}
